<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>{{title}}</h1>
<h2>您的ip地址是：{{ip}}</h2>
<p>If you see this page, the nginx web server is successfully installed and
working. Further configuration is required.</p>

<p>For online documentation and support please refer to
<a href="http://nginx.org/">nginx.org</a>.<br/>
Commercial support is available at
<a href="http://nginx.com/">nginx.com</a>.</p>

<p><em>Thank you for using nginx.</em></p>

<footer style="position:fixed;bottom: 0;">
    <p style="margin:auto; color: red;"><a href="{{beiana}}">{{beianId}}</a></p>
</footer>
</body>
</html>
