# Django web框架
# django-filter 过滤器
# django-cors-headers 跨域
# django-rest-swagger swaggerAPI文档
# djangorestframework Rest接口
# djangorestframework-jwt jwt验证包
# djangorestframework-simplejwt jwt验证包
Django==2.2.7                            
django-filter==2.2.0    
django-cors-headers==3.2.1  
django-rest-swagger==2.2.0
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0

# ASGI websocket
channels==2.4.0

# mysqlclient　连接mysql数据库
# psycopg2　   连接PostgreSQL  
# django-redis django redis缓存
django-redis==4.11.0 
mysqlclient==1.4.6
psycopg2==2.8.4

# celery   分布式任务队列 4.0以上在Django不用依赖其他库
# django-celery-results 任务结果支持DjangoORM
# django-celery-beat 定时任务
# flower　　任务监控
celery==4.4.0
django-celery-results==1.1.2
django-celery-beat==1.5.0
flower==0.9.3

# 跨区时间计算
pytz==2019.3   

#　 gunicorn WSGC服务器
#   supervisor 项目监控
#   gevent  并发同步或异步编程
gunicorn==20.0.4
supervisor==4.1.0
gevent==1.4.0 

# img
pillow==7.0.0